@{    ///// quando abri o "@ e abri chaves e depois fecha chaves, dentro desse bloco pode-se colocar o codigo C# q kiser
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<p> @ViewData["email"]</p> <!-- esse valor da chave "email" ja foi trocado na HomeController-->
<p> @ViewData["professor"]</p> <!-- esse valor da chave "professor" ja foi trocado na HomeController-->


<address>
    <strong> Informação: </strong> <a href="http://educando.com.br">Educando</a>
</address>